html {
  /*
  font-family: "Yusei Magic", sans-serif;
  */
  font-family: "BIZ UDPGothic", sans-serif;
  background-color: rgba(255, 58, 125, 0.95);
}

a {
  color: #58a6dc;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("./images/14_thumb.webp");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
  margin: 0;
  padding: 0;
}

body {
  /*background-color: rgba(11, 11, 11, 0.1); */ 
}

/* logo-img */

.logo-img {
  filter: drop-shadow(10px 8px 3px #111);
}

@media (max-width: 960px) {
  .logo-img {
    width: 65%;
    padding-bottom: 2.5rem;
  }
}

/* title-article */

.title-article {
  background-color: rgba(33, 33, 33, 0.2);
  padding: 10px;
}

.title-phrase {
  background-color: rgba(11, 11, 11, 0.5);
  padding: 5px;
}

@media (max-width: 960px) {
  .title-article {
    height: 300px;
  }
  .title-article-13 {
    height: 300px;
  }
  .title-phrase {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .title-article {
    height: 240px;
  }
  .title-article-13 {
    height: 240px;
  }
  .title-phrase {
    width: 100%;
    font-size: 0.8rem;
  }
}

/* aboutus article */

.aboutus-article {
  background-repeat: no-repeat;
  background-position: right, bottom;
  background-size: cover;
  background-color: rgba(33, 33, 33, 0.6);
}

.aboutus-article {
  /*
  background-color: rgba(0, 0, 0, 0.7);
  */
}

/* content article */

.content-article {
  background-color: rgba(33, 33, 33, 0.3);
  background-repeat: no-repeat;
  background-position: right, bottom;
  background-size: cover;
  /*
  background-attachment: fixed;
  */
}

/* border-line */
.border-line {
  height: 20px;
  transform: scale(-1, -1);
  background-image: url("./images/background-line1.png");
  background-repeat: repeat-x, no-repeat;
}

/* slide */
.swiper-slide > img {
  max-width: 420px;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f3f3f3 !important;
}

/* notice-list */
.notice-list > li {
  margin: 1rem 0;
}

@media (max-width: 960px) {
  .profile-container {
    margin: 100px auto !important;
  }
}
